<h1 class="hugeText">{{title}}</h1>

<!-- Contact Details -->
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">


        <!-- Contact Form -->
        <div class="col-10 mt-3 mb-3">
            <form id="contactForm" action="send" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="name" name="name" class="form-control" id="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" required>
                </div>
                <div class="mb-3">
                    <label for="textArea" class="form-label">Message</label>
                    <textarea class="form-control" name="message" id="message" rows="4" required></textarea>
                </div>
                <button class="btn btn-dark col-12" id="submitBtn" type="submit" value="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
