
<!-- Technologies -->
<h1 class="hugeText mb-3">Technology</h1>
<div class="row justify-content-center ps-3 pe-5 mb-5 ms-5 me-5 align-items-baseline text-center" id="techText">

    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/html.png" alt="HTML">HTML</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/css.png" alt="CSS">CSS</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/js.png" alt="JavaScript">JavaScript</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/nodeJS.png" alt="Node.js">Node.js</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/react.png" alt="React">React</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/gatsby.png" alt="Gatsby">Gatsby</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/java.png" alt="Java">Java</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/swift.png" alt="Swift">Swift</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/sqlServer.png" alt="SQL Server">SQL Server</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/mySQL.png" alt="MySQL">MySQL</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/mongoDB.png" alt="NoSQL">NoSQL</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/cSharp.png" alt="C#">C#</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/cPlus.png" alt="C++">C++</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/netCore.png" alt="ASP.Net Core">ASP.NET Core</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/php.png" alt="PHP">PHP</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/bootstrap.png" alt="Bootstrap">Bootstrap</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/tailwindCSS.png" alt="Tailwind CSS">Tailwind CSS</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/adobeCC.png" alt="Adobe Suite">Adobe Suite</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/squarespace.png" alt="Squarespace">Squarespace</div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center p-3"><img class="thumb" src="images/tech/shopify.png" alt="Shopify">Shopify</div>

</div> <!-- end of row -->

<!-- Work Exp. -->
<h1 class="hugeText mt-3 mb-3">Work</h1>

<div class="row justify-content-evenly">
    <!-- Work Exp. Caleidoscope -->
<div class="col-md-12 col-lg-5">
        <table class="table table-sm table-borderless">
            <thead>
            <tr class="border-bottom border-dark">
                <span class="companyTitle">Caleidoscope</span>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="border-bottom border-dark">
                <th scope="row">role</th>
                <td colspan="2" class="ps-5">Web Design + Development</td>
            </tr>
            <tr class="border-bottom border-dark">
                <th scope="row">year</th>
                <td colspan="2" class="ps-5">2016-Present</td>
            </tr>
            <tr class="border-bottom border-dark">
                <th scope="row">http://</th>
                <td colspan="2" class="ps-5"><a href="https://caleidoscopecreative.com/" target="_blank">caleidoscopecreative.com</a></td>
            </tr>
            <tr class="border-bottom border-dark">
                <th scope="row">work</th>
                <td colspan="2" class="ps-5" style="height:135px">Responsible for various web design and development projects,
                     including regular site uploads and maintenance,
                    as well digital media creation and photography projects.</td>
            </tr>
            </tbody>
        </table>
</div>
    <!-- Work Exp. -- Peel -->
    <div class="col-md-12 col-lg-5">
        <table class="table table-sm table-borderless">
            <thead>
            <tr class="border-bottom border-dark">
                <span class="companyTitle">Region of Peel</span>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="border-bottom border-dark">
                <th scope="row">role</th>
                <td colspan="2" class="ps-5">Labourer</td>
            </tr>
            <tr class="border-bottom border-dark">
                <th scope="row">year</th>
                <td colspan="2" class="ps-5">2011-2019</td>
            </tr>
            <tr class="border-bottom border-dark">
                <th scope="row">location</th>
                <td colspan="2" class="ps-5">Mississauga, Ontario</td>
            </tr>
            <tr class="border-bottom border-dark" >
                <th scope="row">work</th>
                <td colspan="2" class="ps-5" style="height:135px">Responsible for day-to-day operations of CRC. Provided public support, working quickly and accurately
                    in a fast paced environment while maintaining positive relationships with staff and patrons.
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- end of row -->

<!-- Education Exp. -->
<h1 class="hugeText mt-5 mb-3">Education</h1>
<div class="row justify-content-evenly mb-5">
<!-- Education Exp. Table Georgian -->
<div class="col-md-12 col-lg-5">
    <table class="table table-sm table-borderless">
        <thead>
        <tr class="border-bottom border-dark">
            <span class="companyTitle">Georgian College</span>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-bottom border-dark">
            <th scope="row">title</th>
            <td colspan="2" class="ps-5">Diploma, Computer Programmer</td>
        </tr>
        <tr class="border-bottom border-dark">
            <th scope="row">year</th>
            <td colspan="2" class="ps-5">2019-2021</td>
        </tr>
        <tr class="border-bottom border-dark">
            <th scope="row">location</th>
            <td colspan="2" class="ps-5">Collingwood, Ontario</td>
        </tr>


        </tbody>
    </table>
</div>

    <!-- Education Exp. Table Georgian -->
    <div class="col-md-12 col-lg-5">
        <table class="table table-sm table-borderless">
            <thead>
            <tr class="border-bottom border-dark">
                <span class="companyTitle">University of Waterloo</span>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="border-bottom border-dark">
                <th scope="row">title</th>
                <td colspan="2" class="ps-5">Bachelor of Arts, Psychology</td>
            </tr>
            <tr class="border-bottom border-dark">
                <th scope="row">year</th>
                <td colspan="2" class="ps-5">2006-2010</td>
            </tr>
            <tr class="border-bottom border-dark">
                <th scope="row">location</th>
                <td colspan="2" class="ps-5">Waterloo, Ontario</td>
            </tr>

            </tbody>
        </table>
    </div>

</div> <!-- end of row -->

