<h1 class="hugeText mb-5">{{title}}</h1>

<!-- BabySteps Project -->
<div class="row pt-5">
    <div class="col-2 ms-3 me-3">
        <img src="images/projects/launchScreen.png" style="max-width:550px">
    </div>
<div class="col-2 mx-5">
    <img src="images/projects/screen.png" style="max-width:550px">
</div>
    <div class="col-2 ms-3 me-3">
        <img src="images/projects/addScreen.png" style="max-width:550px">
    </div>

</div>

<div class="row ms-5" id="aniA" data-av-animation="animate__fadeIn">

    <div class="col-3 ms-5">
        <img src="images/projects/detailsScreen.png" style="max-width:calc(((100vw/3) + (100vw/3)) / 2)">
    </div>
    <div class="col-3">
        <img src="images/projects/detailsMapScreen.png" style="max-width:calc(((100vw/3) + (100vw/3)) / 2)">
    </div>
</div>

<!-- Project title -->
<div class="d-flex justify-content-start align-items-start gap-3">
    <p class="fw-bold lh-sm">BabySteps - iOS App </br><span class="fw-light">Baby Milestone Scrapbook App</span></p>
   <div class="border-dark border-start">
    <a class="btn btn-outline-dark mx-3" href="https://github.com/Tzwiep/BabySteps" target="_blank">View on GitHub</a>
   </div>
</div>

<!-- Thght Snctry -->
<div class="row mt-5">
    <div class="col-6 mx-auto" id="aniB" data-av-animation="animate__fadeIn">
        <img src="images/projects/vagus.png" style="max-width:550px">
    </div>
</div>
<!-- Project title -->
<div class="d-flex justify-content-start align-items-start gap-3 mt-5">
    <p class="fw-bold lh-sm">Thght Snctry - Product Images </br><span class="fw-light">3D Renders Using Adobe Dimension</span></p>
    <div class="border-dark border-start">
    <a class="btn btn-outline-dark mx-3" href="https://goop.com/ca-en/thought-sanctuary-vagus-nerve-oil/p/?variant_id=82951" target="_blank">View on Goop.com</a>
    </div>
</div>

<!-- BabySprinkle Project -->
<div class="row py-5 mt-5">
    <div class="col-8 mx-auto" id="aniC" data-av-animation="animate__fadeIn">
        <img src="images/projects/babySprinkle.png" style="max-width:750px">
    </div>
</div>
<!-- Project title -->
<div class="d-flex justify-content-start align-items-start gap-3">
    <p class="fw-bold lh-sm">BabySprinkle - ASP.NET </br><span class="fw-light">Virtual Baby Shower Web App</span></p>
    <div class="border-dark border-start">
    <a class="btn btn-outline-dark mx-3" href="https://github.com/Tzwiep/BabySprinkle" target="_blank">View on GitHub</a>
    </div>
</div>


<!-- Java Dictionary Project -->
<div class="row mt-5 py-5" id="aniD" data-av-animation="animate__fadeIn">
    <div class="col-4 ms-3">
        <img src="images/projects/dictionarySearch.png" style="max-width:650px">
    </div>
    <div class="col-4 mx-5">
        <img src="images/projects/dictionary.png" style="max-width:650px">
    </div>
</div>
<!-- Project title -->
<div class="d-flex justify-content-start align-items-start gap-3">
    <p class="fw-bold lh-sm">Dictionary App - Java </br><span class="fw-light">Dictionary Application Using the WordsAPI</span></p>
    <div class="border-dark border-start">
    <a class="btn btn-outline-dark mx-3" href="https://github.com/Tzwiep/DictionaryApp" target="_blank">View on GitHub</a>
    </div>

</div>


<!-- Baby Milestones Project -->
<div class="row py-5 mt-5">
    <div class="col-8 mx-auto" id="aniC" data-av-animation="animate__fadeIn">
        <img src="images/projects/BabyMilestones.png" style="max-width:750px">
    </div>
</div>
<!-- Project title -->
<div class="d-flex justify-content-start align-items-start gap-3">
    <p class="fw-bold lh-sm">Baby Milestones - Node.js, Express, Handlebars, and MongoDB </br><span class="fw-light">CRUD Web Application</span></p>
    <div class="border-dark border-start">
        <a class="btn btn-outline-dark mx-3" href="https://baby-milestone.herokuapp.com/" target="_blank">View Website</a>
    </div>
</div>

<!-- Barrie Dental Hygiene -->
<div class="row mt-5">
    <div class="col-8 mx-auto py-5" id="aniE" data-av-animation="animate__fadeIn">
        <img src="images/projects/BDH.png" style="max-width:750px">
    </div>
</div>
<!-- Project title -->
<div class="d-flex justify-content-start align-items-start gap-3">
    <p class="fw-bold lh-sm">Barrie Dental Hygiene - Front End Design</br><span class="fw-light">Custom Squarespace Website</span></p>
    <div class="border-dark border-start">
    <a class="btn btn-outline-dark mx-3" href="https://www.barriedentalhygiene.ca" target="_blank">View Website</a>
    </div>
</div>


<div class="row justify-content-center text-center my-5">
    <div class="col-10 border-top p-3 mt-5">
        <div   id="aniF" data-av-animation="animate__fadeInUp">
        <p class="fw-light ">This portfolio website was created using Node.js, Express, Handlebars, and is deployed to Heroku via GitHub.</p>
        <a class="btn btn-dark mx-3" id="submitBtn" href="https://github.com/Tzwiep/TZ-Portfolio-Website" target="_blank">View on GitHub</a>
        </div>
    </div>
</div>


