.row{
  --bs-gutter-x:0 !important;
}

.infoLink{
  background-color: #f4ff7a;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 4px;
  padding: 4px 7px 4px 7px;
  border: 1px solid #000;
  border-radius: 24px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  max-width: 70px !important;
  font-size: 14px;
  line-height: 1.15;

}
.infoLink:hover{
  background-color: #000;
  color: #fff;
}

#submitBtn:hover{
  background-color: transparent;
  color: black;
  border-bottom: 2px solid black;
  border-radius: 5px;
  box-shadow: -1px 1px #353535;
}

/* --  Font for job title   -- */
.companyTitle{
  font-size: 24px;
  color: #000;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;

}

a {
  color: #75848a;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}
th {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
}
td{
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
}

#wrapper{
  margin:0 !important;
  padding-left:0 !important;
  padding-right:0 !important;
  height: 100vh !important;

}
.hugeText{
  font-size: 10vw;

}

.biggerFont{
  font-size: 4vw;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.thumb {
  max-width: 50px;
  padding-bottom:5px;

}

#techText{
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.bioText{
  font-size: 0.9em;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;

}
#headlineText {
  padding-top: 0.5vh;
  font-size: 0.9em;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.diamond {
  display:inline;
  font-size: 1.5em;
  margin-left: 0.5vw;
  padding-right: 1.2vw;
  line-height: 1vh;
}

.lightFont{
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.site{
  display: flex;
  max-height: 100vh !important;
  max-width: 100vw !important;
  flex-direction: column;
  background-color: #ececec;
  box-sizing: border-box;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.active{
  background-color: black;
  color: white;
  z-index:-1 ;
}

nav{
  z-index: 1;
  background-color: #ececec;

}
.fixed{
  position: fixed;
  top:46px;
  left: 0;
  z-index:1;
  overflow: hidden;
  height:100%;
}
.scroll{
  margin-left: calc(100vw/3) !important;
  top:50px !important;
  margin-top: 50px !important;
}

/* ------------------------------------------ Mobile Layout --------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .fixed{
    position: relative;
    top:auto;
    left: inherit;
    z-index: inherit;
    overflow:inherit;
    height:auto;
  }
  .scroll{
    margin: auto !important;
    top:0 !important;
    margin-top: 0 !important;
  }

  #wrapper{
    margin:auto;
    padding-left:inherit;
    padding-right:inherit;
    padding-bottom: 0px;
    height: auto;


  }
  #sidebar{
    border: none !important;
  }

  nav{
    display: none !important;
  }

  #navBtn{
    font-size: 0.6em;
    display: inline-flex;
    max-width: 33.33%;
    align-items: center;
    justify-content: center;
  }

  .biggerFont{
    font-size: 4em;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  #techText{
    margin:0 !important;
  }
  .hugeText{
    font-size: 16vw;

  }
  .diamond {
    margin-left:0.2em;
    padding-right:0.7em;
  }

  .infoLink{
    background-color: #f4ff7a;
    margin-bottom: 10px;
    margin-left: 0.2em;
    margin-right: 1em;
    padding: 4px 7px 4px 7px;


  }

} /* end of @media */
